<div class="photo">
  <table>
    <tr>
      <td rowspan="2"><img src="<%= @photo.media_url %>"></td>
      <td>
        <table>
          <tr><th>begin date</th><td><%= @photo.begin_date %></td></tr>
          <tr><th>end date</th><td><%= @photo.end_date %></td></tr>
          <tr><th>latitude</th><td><%= @photo.latitude %></td></tr>
          <tr><th>longitude</th><td><%= @photo.longitude %></td></tr>
          <tr><th>location</th><td><%= @photo.locality %></td></tr>
          <tr><th>county</th><td><%= @photo.county %></td></tr>
          <tr><th>notes</th><td><%= @photo.photog_notes %></td></tr>
          <tr><th>original photo number</th><td>332707</td></tr>
          <tr><th>original filename</th><td>VTM00005619</td></tr>
          <tr><th>BEE record</th><td><%= link_to @photo.record, @photo.url %></td></tr>
          <tr><th>retakes taken</th><td>none</td></tr>
          <tr><th>Retakeable</th><td><%= @photo.retakeable %></td></tr>
          <tr><th>Accessibility</th><td><%= @photo.accessibility %></td></tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <iframe src="http://mapper.acme.com/?ll=<%= @photo.latitude %>,<%= @photo.longitude %>&amp;z=13&amp;t=T&amp;marker0=35.69955%2C-118.21203%2C1.2%20km%20NE%20of%20Onyx%20CA"></iframe>
      </td>
    </tr>
  </table>
</div>

<h2>JSON</h2>
<pre>
  <%= JSON.pretty_generate @photo.as_json(:methods => Photo::FIELDS) %>
</pre>
