<p id="notice"><%= notice %></p>

<p>
  <b>Bee:</b>
  <%= @photo.bee_id %>
</p>

<p>
  <b>Retakeable:</b>
  <%= @photo.retakeable %>
</p>

<p>
  <b>Accessibility:</b>
  <%= @photo.accessibility %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
