<p id="notice"><%= notice %></p>

<p>
  <b>Bee:</b>
  <%= @photo.bee_id %>
</p>

<p>
  <b>Retakeable:</b>
  <%= @photo.retakeable %>
</p>

<p>
  <b>Accessibility:</b>
  <%= @photo.accessibility %>
</p>

<h2>JSON</h2>
<pre>
  <%= JSON.pretty_generate @photo.as_json(:methods => Photo::FIELDS) %>
</pre>
